
body{
    background-image: linear-gradient(-225deg, #0b0c0c 0%, #ce65ff 100%);
    background-image: linear-gradient(to top, #050505 0%, rgb(119, 33, 218) 100%); 
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
    /* the main font */
    font-family: 'Abel', sans-serif;
    opacity: .95;
    background-image: linear-gradient(to top, #000000 0%, rgb(119, 33, 218) 100%); 
}

.Barra-lateral {
    background-color: rgb(254, 234, 255);
    width: 200px;
    height: 180px;
    box-sizing: border-box;
    
}

#Menu{
    list-style: none ;    
    padding: 15px;
}

#Menu li a{
    color: #000000;
    text-decoration: none;
}

#user-icon {
    
    text-decoration: none;
    width: 26px;
}